* {
    padding: 0; /*resetto il valore di default impostati dai browser, mettere sempre*/
    margin: 0;
}
/*--------------------
INIZIO Header & Nav
--------------------*/
header {
    background-color: #303030;
    color: white;
    width:100%;
    height: 2.5em;
}

nav {
    background-color: #303030;
    color: white;
    width:100%;
    height: 1.5em;
}

#logoTitle{
    float: left;
    width: 50%;
}
#logoTitle img{
    float: left;
}
#findAll{
    padding-right: 1em;
    float: right;
}

nav ul{
    display: inline-block;
    overflow-x:hidden;
    width: 60%;
}
nav li{
    display:inline;
    padding-left: 2em;
    float: left;
}
                                    /* Link menù */
nav a, abbr{
    text-decoration: none;
}
    nav a:link {
        color: white;
    }
    /* visited link */
    nav a:visited {
        color: #cccccc;
    }

    /* mouse over link */
    nav a:hover {
        font-weight: bold;
    }

    /* selected link */
    nav a:active {
        font-weight: bold;
    }

#navLog{
    float: right;
    padding-right: 1em;
}
/*FINE Header & Nav*/

/*--------------------------
INIZIO messaggi verso utente
--------------------------*/
.message-success{
    background-color: #3a945b;
    color: white;
    text-align: center;
}

.message-warning{
    background-color: #cf6e0e;
    color: white;
    text-align: center;
}

.message-fail{
    background-color: #f04124;
    color: white;
    text-align: center;
}
/*FINE messaggi verso utente*/



html, body {
    max-width: 1024px;  /* larghezza massima anche per schermi grandi */
    margin: auto;       /* il browser da solo centra il contenuto */
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size:100%;
    min-width: 550px;
}

body{
    border: 1px solid #DDD; /* errore comune mettere questo nel precedente: avresti un bordo doppio! */
}

table {
    width: 100%;
    background-color: #f1f1c1;
    border: solid 1px red;
}

/*--------------------
    INIZIO Login
--------------------*/
#contentLogin {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    display: block;
}
#contentLogin h3{
    text-align: center;
    background-color: #303030;
    color: white;
    padding: 0.2em;
}

#contentLogin input{
    width: 99.4%;
    display: block;
    margin-right: 1px;
    margin-bottom: 0.5em;
    height: 2em;
    font-size: 18px;
}
#contentLogin #buttonAccedi{
    display: block;
    margin: auto;
    width: 50%;
}
#contentLogin p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*  FINE Login  */

/*--------------------
    INIZIO luoghi
--------------------*/

#contentLuoghi {
    width: 90%;
    margin: auto;
}

/*FINE luoghi*/

/*--------------------
    INIZIO footer
--------------------*/
footer{
    background-color: #303030;
    color: white;
    font-size: 0.8em;
    padding: 1em;
}
                    /*Link footer*/
footer a{
    color: white;
}

/* visited link */
footer a:visited {
    color: #cccccc;
}

footer img{
    float: right;
}
/*FINE footer*/
