* {
    padding: 0; /*resetto il valore di default impostati dai browser, mettere sempre*/
    margin: 0;
}
/*--------------------
INIZIO Header & Nav
--------------------*/
header {
    background-color: #303030;
    color: white;
    width:100%;
    height: 2.5em;
}

nav {
    background-color: #303030;
    color: white;
    width:100%;
    height: 1.5em;
}

#logoTitle{
    float: left;
    width: 50%;
    font-size: 1em;
}
#logoTitle img{
    float: left;
}
#logoTitle a{
    display: none;
}
#findAll{
    padding-top: 0.7em;
    padding-right: 1em;
    float: right;
}

#findAll input{
    height: 1.5em;
}

nav ul{
    display: inline-block;
    overflow-x:hidden;
    width: 60%;
}
nav li{
    display:inline;
    padding-left: 2em;
    float: left;
}
/* Link menù */
nav a, abbr{
    text-decoration: none;
}

nav a:link {
    color: white;
}
/* visited link */
nav a:visited {
    color: #cccccc;
}

/* mouse over link */
nav a:hover {
    font-weight: bold;
}

/* selected link */
nav a:hover {
    color: #cccccc;
}

#navLog{
    float: right;
    padding-right: 1em;
}
/*FINE Header & Nav*/

/*--------------------------
INIZIO messaggi verso utente
--------------------------*/
.message-success{
    background-color: #3a945b;
    color: white;
    text-align: center;
}

.message-warning{
    background-color: #cf6e0e;
    color: white;
    text-align: center;
}

.message-fail{
    background-color: #f04124;
    color: white;
    text-align: center;
}
/*FINE messaggi verso utente*/



html, body {
    max-width: 1024px;  /* larghezza massima anche per schermi grandi */
    margin: auto;       /* il browser da solo centra il contenuto */
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size:100%;
}

body{
    border: 1px solid #DDD; /* errore comune mettere questo nel precedente: 
    						avresti un bordo doppio! */
}

a:link {
    color: #0674d6;
}
/* visited link */
a:visited {
    color: #00325e;
}

/* selected link */
a:hover {
    color: #05b8ff;
}

table {
    width: 100%;
    background-color: #CCCCCC;
    border: solid 1px black;
    border-collapse: collapse;/*fa collassare i bordi della
    						tabella con quelli dei th, e td
    						in modo da non visualizzare spazi*/
}

thead {
	background-color: #303030;
    color: white;
    text-align: left;
}

/*tabella a strisce di zebra*/
tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
	padding: 0.5em;
}

td {
	vertical-align: bottom;
}

dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    padding-left: 0.3em;
    font-weight: bold;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 7em;
    padding: 0 0 0.5em 0;
}

/*--------------------
    INIZIO Login e Registrazione
--------------------*/
.box {
    margin: 1em auto; /*top-bottom right-left*/
    width: 50%;
    border: 1px solid #cccccc;
    display: block;
}
.box h3, .box h2, .box h1{
    text-align: center;
    background-color: #303030;
    color: white;
    padding: 0.2em;
    font-size: 1.5em;
}

.box input{
    width: 99.3%;
    display: block;
    height: 2em;
    margin: auto;
    margin-bottom: 0.5em;
    font-size: 16px;
}
.box #buttonAccedi{
    display: block;
    margin: auto;
    width: 50%;
}
.box p{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.box select{
    width: 100%;
    height: 1.5em;
    font-size: 16px;
}

.box label{
    font-weight: bold;
}
/*  FINE Login e Registrazione */

/*--------------------
    INIZIO luoghi
--------------------*/

#contentLuoghi {
    width: 95%;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

/*FINE luoghi*/


/*--------------------
    INIZIO content unici
--------------------*/

.title{
    background-color: #303030;
}
.title h1, .title h2, .title h3{
    color: white;
    text-align: center;
    border-top: ridge;
    border-color: #CCCCCC;
    margin-left: 1em;
    margin-right: 1em;
}

.content {
    width: 95%;
    margin: 1em auto;
    display: block;
}


/*   FINE content unici     */

/*--------------------
    INIZIO footer
--------------------*/
footer{
    background-color: #303030;
    color: white;
    font-size: 0.8em;
    padding: 1em;
}
.footer {
    border-top: ridge;
    border-color: #CCCCCC;
    margin-left: 1em;
    margin-right: 1em;
}

/*Link footer*/
footer a{
    color: white;
}

footer a:link {
    color: #bfe1ff;
}

footer img{
    float: right;
}
/*FINE footer*/


/*INIZIO form di ricerca*/
#filterform {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#filterform input{
    height: 2em;
}

#filterform #cercaButton{
    /* sotto questa soglia rimpicciolendo esplode */
    width: 24%;
}
#filterform #tuttiButton{
    width: 24%;
}
#filterform #cercaText{
    height: 1.7em;
    width: 49%;
}

/*FINE form di ricerca*/


/*--------------------------------------
INIZIO css per la modifica e 
la creazione di un evento
---------------------------------------*/
.formbox {
	width: 100%;
	background-color: #cccccc;
	margin: auto;
	display: block;
	padding: 0.1em;	/*in contenuto non c'è*/
}

/*Serve per contenere
la combo <label> <input>
o <label><textarea>, ecc...*/
.formbox .field {
	width: 100%;
	margin: auto;
	display: block;
	margin-bottom: 1em;
	clear: left;
}

.formbox label {
	width: 20%;
	display: inline-block;
    float: left;
    clear: left;
    text-align: right;
    //margin-right: 0.5em;
    margin: auto;
}


.formbox input[type=submit], input[type=reset] {
    width: 20%;
}

.formbox input[type=time], select {
	width: 15%;
}

.formbox textarea{
    resize: none;
    width: 50%;
    height: 15em;
    margin: auto;
    //display: block;
}

.formbox .textinfo {
	width: 50%;
	margin: auto;
	display: inline-block;
	clear: left;
	float: right;
}

/*--------------------------------------
FINE css per la modifica e 
la creazione di un evento
---------------------------------------*/

/*
schede evento:
nome, descr ed infox;



d fare classi per metterle senza box
*/


/*
css non toccare tabella admin



non fare il mobile per adesso

va fluido e non fixed
*/